{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="author" content="{{ site.author }}">

  {% capture description %}{% if page.description %}{{ page.description }}{% else %}{{ content | raw_content }}{% endif %}{% endcapture %}
  <meta name="description" content="{{ description | strip_html | condense_spaces | truncate:150 }}">
  {% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}">{% endif %}

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
  <link rel="canonical" href="{{ canonical }}">
  <link href="{{ root_url }}/favicon.png" rel="icon">
  <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <link href="{{ root_url }}/stylesheets/bootstrap.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="{{ root_url }}/javascripts/modernizr-2.0.js"></script>
  <script src="{{ root_url }}/javascripts/bootstrap.js"></script>
  <script src="{{ root_url }}/javascripts/ender.js"></script>
  <script src="{{ root_url }}/javascripts/octopress.js" type="text/javascript"></script>
  <script src="{{ root_url }}/javascripts/script.js"></script>
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  {% include google_analytics.html %}
</head>
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner" class='header'>
    {% include header.html %}
  </header>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'epsn'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</body>
<article class="pre_footer"> 
  <section>
    <h3>Ecole Professionnelle Supérieure de Naturopathie</h3>
    <h4>L'EPSN est la seule école en Suisse a être reconnue pour la formation de Naturopathe issue de la synthèse de Pierre-Valentin Marchesseau.</h4>
    <p>Cet homme remarquable, surnommé l’Hippocrate des temps modernes, a su tracer un sillon droit et profond où chacun peut s’installer ou ne faire que passer. Ce biologiste-médecin qui fit un travail de synthèse des connaissances disponibles à son époque pour créer la Naturopathie orthodoxe.
    Il était fasciné par ce qu’il appelait la merveilleuse machine humaine qu’est le corps humain et la façon de lui apporter les meilleures conditions pour le maintenir dans son état de bon fonctionnement originel.
    Il se dépensa sans compter pendant 60 ans au service de la Naturopathie et de sa diffusion, en France puis en Europe et enfin dans le Monde.</p>
  </section>
</article>  
<footer class="row"> 
  <article style="display: none;">
    <section class="span3">
      <h3>l'école</h3>
      <ul>
        <li>L'héritage</li>
        <li>Le fondateur</li>
        <li>La direction</li>
        <li>Les professeurs</li>
        <li>Le lieu</li>
      </ul>
    </section>
    <section class="span3">
      <h3>principes</h3>
      <p>Premièrement, ne pas nuire<br />Le pouvoir de guérison de la nature<br />Identifier et traiter la cause<br />Guérir la personne dans son ensemble<br />Naturopathe comme éducateur de santé<br />Prévention.</p>
    </section>
    <section class="span3">
      <h3>programmes</h3>
      <ul>
        <li>Alimentation</li>
        <li>Exercices</li>
        <li>Hydrologie</li>
        <li>Psychologie</li>
        <li>Physiotérapie</li>
        <li>Réflexiologie</li>
        <li>Rayons</li>
        <li>Respirations</li>
        <li>Massages</li>
        <li>Fluides</li>
      </ul>
    </section>
    <section class="span3">
      <h3>admission</h3>
      <ul>
        <li>Public concerné</li>
        <li>Critère d'admission</li>
        <li>Auditions</li>
        <li>Dates clés</li>
        <li>Inscription</li>
        <li>Délai d'inscription</li>
      </ul>
    </section>
  </article>
  <article class="contact">
    <section class="span6">
      <h3>contact</h3>
      <div class="address">
        <h6>Administration</h6>
        <p>EPSN<br />C/o Liquid Concept Sàrl<br />Rue du Maupas 19C<br />1004 Lausanne</p>
      </div>
      <div class="address_studies">
        <h6>Lieu de cours</h6>
        <p>Ecole-club Migros Lausanne<br />Rue de Genève 35<br />1003 Lausanne</p>
      </div>
    </section>
    <section class="span6 right">
      <div class="line">{% img logo /images/icon/email.png %}<span class="mail"><a href="mailto:info@epsn.ch">info@epsn.ch</a></span><br /></div>
      <div class="line">{% img logo /images/icon/phone.png %}<span class="phone">078 614 12 63</span><br /></div>
      <div class="line">{% img logo /images/icon/facebook.png %}<span class="facebook"><a href="https://www.facebook.com/pages/EPSN-Ecole-Professionnelle-Sup%C3%A9rieure-de-Naturopathie/322131964515320">EPSN-Ecole-Professionnelle-Supérieure-de-Naturopathie</a></span><br /></div>
      <div class="line">{% img logo /images/icon/twitter.png %}<span class="twitter"><a href="https://twitter.com/EpsnNat">@epsnnat</a></span></div>
    </section>
  </article>
  <!--[if lt IE 9]><link rel="stylesheet" href="{{ root_url }}/stylesheets/ie.css"><![endif]-->
</footer>
</html>
