<article id="sliders">
<div class="slider_balls">
  <ul>
    <!-- each balls -->
  </ul>
</div> 
<section class="slider">
  <!-- each -->
  {% img logo /images/slider_1.jpg %}
</section>
<div class="layout">
  <h1><a href="/blog/2013/07/19/5_piliers/">Les 5 piliers de la Naturopathie : Humorisme, Vitalisme, Hygiénisme, Causalisme, Holisme</a></h1>
  <p><span class="date">le 19 Jul 2013</span><span class="author">par <a href="/authors/alexis_touyarot/">Alexis Touyarot</a> |</span><span class="category"><a href="/blog/categories/naturopathie/">Naturopathie</a></span></p>
</div>
</article>
<nav>
{% include naviguation.html %}
</nav>
