/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                      IPAD/TABLET                      *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media (max-width: 770px) {

  body {
    overflow: hidden;
    width: 770px;
    margin: 0 auto;

    .header {
      width: 750px;

      .logo {
        width: 180px;
        margin-left: 60px;
      }

      span.blog {
        opacity: 0.4;
      }

      #content {
        width: 750px;
        margin: 0px auto;

        article {
          margin-bottom: 0px;
        }
      }
    }

    h1 {
      font-size: 22px;
      width: 750px;
    }

    h2, h4 ,h5 {
      font-size: 15px;
      margin: 30px 0px 10px 0px;
    }

    h3, h6 {
      font-size: 15px;
      margin: 10px 0px 10px 0px;
    }

    .quote {      
      font-size: 18px;
      line-height: 20px;
      margin: 10px 0px 10px 20px;
    }

    .quote_text {
      margin-left: 50px;
    }

    .quote_image {
      margin-left: 50px;
      margin-bottom: 30px;
    }

    .frame {
      display: none;
    }

    .layout {
      display: none;
    }

    .slider {
      display: none;
    }

    #content {
      width: 750px;

      article {
        header {
          width: 750px;
        }
      }

      .resume {
        width: 750px;
      }

      .image_post {
        width: 770px;
        height: 300px;
        overflow-y: hidden;
      }

      .info {
        width: 500px;
        font-size: 15px; 
      }

    }

    nav {
      .main-navigation {
        width: 700px;
        margin: 0px 0px;

        .section_category {
          width: 960px;
          height: 50px;

          .list_categories {
            padding: 10px 0px;
            margin: 0px 10px 20px 50px;
            float: left;

            li {
              color: $green;
              font-size: 15px;
              display: inline;
              padding: 0px 15px;
              border-left: 1px solid $grey;
            }

            li.first {
              border-left: none;
            }
          }
        }
      }
    }

    article.pre_footer {
      width: 770px;

      section {
        width: 750px;
        margin: 0px auto;
        padding: 20px 0px 10px 0px;

        h3 {
          font-size: 18px;
          margin-bottom: 5px;
        }

        h4 {
          font-size: 16px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .frame {
      width: 200px;
      height: 50px; 
    }

    footer.row {
      max-width: 770px;
      padding: 30px 15px;
      margin-left: 0px;

      article {
        width: 750px;
        margin: 0px auto;

        section.span6 {
          width: 750px;
          margin-left: 0px;
        }

          ul {
            margin: 0px 0px;

            li { 
              font-size: 10px;
            }
          }

          p {
            font-size: 10px;
          }

          .address {
            float: left;
            margin-right: 60px;
          }

          .address_studies {
            margin-left: 100px;
            margin-top: 20px;
          }
        }

        article.contact {
          .right {
            padding-top: 30px;
          }

          .line {
            margin-bottom: 10px;
          }

          span {
            font-size: 16px;

            a {
              font-size: 16px;
            }
          }

          .facebook {
            a {
              font-size: 8px;
            }
          }
        }
      }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                    Mobile & IE7/8                     *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media handeld and (max-width:320px),
screen and (max-device-width: 320px),
screen and (max-width: 320px) {
  body {
    overflow: hidden;
    width: 320px;
    margin: 0 auto;

    .header {
      width: 300px;

      .logo {
        width: 180px;
        margin-left: 60px;
      }

      span.blog {
        opacity: 0.4;
      }

      #content {
        width: 300px;
        margin: 0px auto;

        article {
          margin-bottom: 0px;
        }
      }
    }

    h1 {
      font-size: 22px;
      width: 300px;
    }

    h2, h4 ,h5 {
      font-size: 15px;
      margin: 30px 0px 10px 0px;
    }

    h3, h6 {
      font-size: 15px;
      margin: 10px 0px 10px 0px;
    }

    .quote {      
      font-size: 18px;
      line-height: 20px;
      margin: 10px 0px 10px 20px;
    }

    .quote_text {
      margin-left: 50px;
    }

    .quote_image {
      margin-left: 50px;
      margin-bottom: 30px;
    }

    .frame {
      display: none;
    }

    .layout {
      display: none;
    }

    .slider {
      display: none;
    }

    #content {
      width: 300px;

      article {
        header {
          width: 300px;
        }
      }

      .resume {
        width: 300px;
      }

      .image_post {
        width: 320px;
        height: 150px;
        overflow-y: hidden;
      }

      .info {
        width: 280px;
        font-size: 12px; 
      }

    }

    nav {
      .main-navigation {
        width: 220px;

        .section_category {
          width: 220px;
          height: 170px;

          .list_categories {
            margin: 0px 0px 20px 70px;
            float: left;

            li {
              font-size: 15px;
              padding: 10px 15px;
              border-left: none;
            }
          }
        }
      }
    }

    article.pre_footer {
      width: 320px;

      section {
        width: 300px;
        margin: 0px auto;
        padding: 20px 0px 10px 0px;

        h3 {
          font-size: 18px;
          margin-bottom: 5px;
        }

        h4 {
          font-size: 16px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .frame {
      width: 200px;
      height: 50px; 
    }

    footer.row {
      max-width: 320px;
      padding: 30px 15px;
      margin-left: 0px;

      article {
        width: 290px;
        margin: 0px auto;

        section.span6 {
          width: 290px;
          margin-left: 0px;
        }

          ul {
            margin: 0px 0px;

            li { 
              font-size: 10px;
            }
          }

          p {
            font-size: 10px;
          }

          .address {
            float: left;
            margin-right: 60px;
          }

          .address_studies {
            margin-left: 100px;
            margin-top: 20px;
          }
        }

        article.contact {
          .right {
            padding-top: 30px;
          }

          .line {
            margin-bottom: 10px;
          }

          span {
            font-size: 16px;

            a {
              font-size: 16px;
            }
          }

          .facebook {
            a {
              font-size: 8px;
            }
          }
        }
      }
    }
  }